# Prepare Sources

The HMRC provide overseas trade statistics broken down by country and commoditiy code using the Combined Nomenclature "CN8" 8 digit codes.

These statistics have been obtained as a series of CSV files as "Tidy Data".

However, some preparation is necessary in order to process these files using the table2qb utility.

Firstly, fetch the source data, in this case from a shared (open) Google drive.

We also keep track of the processing and the provenance of the inputs and outputs using W3C Prov.

In [1]:
from datetime import datetime
import json
from pytz import timezone
from os import environ

provActivity = {
    '@id': environ.get('BUILD_URL', 'unknown-build') + "#prepare_sources",
    '@type': 'activity',
    'startedAtTime': datetime.now(timezone('Europe/London')).isoformat(),
    'label': 'Prepare sources',
    'comment': 'Jupyter Python notebook as part of Jenkins job %s' % environ.get('JOB_NAME', 'unknown-job')
}

In [2]:
import requests
from pathlib import Path

provSources = []

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

sources = [
    ('CN8_Non-EU_cod_2012.csv', '1P7YyFF6qXKXWVtR0Vt3kkvFPOjThMQH8'),
    ('CN8_Non-EU_cod_2013.csv', '1de-Le9ungrbdoGyvWI_RwmEhNpTmR-70'),
    ('CN8_Non-EU_cod_2014.csv', '1oC3jlItfsUshd54KOR7yn9NxpR83iCbC'),
    ('CN8_Non-EU_cod_2015.csv', '1H54-FYrCFa1DylCBg38RAPAeCtkGq4la'),
    ('CN8_Non-EU_cod_2016.csv', '11fLsnoiWzTcA1d3nSDWvyrKQEHwIf6Hz')
]

for filename, google_id in sources:
    sourceFile = sourceFolder / filename
    sourceUrl = f'https://drive.google.com/uc?export=download&id={google_id}'

    if not (sourceFile.exists() and sourceFile.is_file()):
        response = requests.get(sourceUrl)
        with open(sourceFile, 'wb') as f:
            f.write(response.content)
    provSources.append({
        '@id': sourceUrl,
        '@type': 'entity',
        'label': filename,
        'wasUsedBy': provActivity['@id']
    })

In [3]:
import pandas
pandas.read_csv(sourceFolder / sources[0][0], dtype={'comcode': str}).head()

   year flow   comcode      country   svalue
0  2012    e  01012100       Norway  1773490
1  2012    e  01012100  Switzerland    69378
2  2012    e  01012100       Turkey   406337
3  2012    e  01012100      Ukraine    49903
4  2012    e  01012100       Serbia    32550

The table2qb utility requires that the input CSV look like:

```Year,Flow,Commodity,Foreign Country,Measure Type,Unit,Value
2012,Export,28399000,Singapore,GBP Total,£ million,35275
2012,Export,42050011,Ghana,GBP Total,£ million,1709
2012,Export,85049018,Israel,GBP Total,£ million,13205
2012,Import,73269060,Hong Kong,GBP Total,£ million,2414```

In [4]:
destFolder = Path('out')
destFolder.mkdir(exist_ok=True, parents=True)

countries = set()
provOutputs = []

table = pandas.concat([pandas.read_csv(sourceFolder / filename, dtype={'comcode': str})
                       for filename, google_id in sources], ignore_index=True).rename(
    index = str,
    columns = {'year': 'Year', 'flow': 'Flow', 'comcode': 'Commodity',
               'country': 'Foreign Country', 'svalue': 'Value'})
table['Measure Type'] = 'GBP Total'
table['Unit'] = '£ million'
table['Flow'] = table['Flow'].map(lambda x: {'i': 'Import', 'e': 'Export'}[x])
table = table[['Year', 'Flow', 'Commodity', 'Foreign Country', 'Measure Type', 'Unit', 'Value']]
countries.update(table['Foreign Country'])
destFile = destFolder / 'CN8_Non-EU_cod_2012-2016.csv'
table.sample(n=10000, random_state=149).to_csv(destFile, index=False)
#table.to_csv(destFile, index=False)
provOutputs.append((destFile, 'CN8_Non-EU_cod-2012-2016 table'))
table.head()

   Year    Flow Commodity Foreign Country Measure Type       Unit    Value
0  2012  Export  01012100          Norway    GBP Total  £ million  1773490
1  2012  Export  01012100     Switzerland    GBP Total  £ million    69378
2  2012  Export  01012100          Turkey    GBP Total  £ million   406337
3  2012  Export  01012100         Ukraine    GBP Total  £ million    49903
4  2012  Export  01012100          Serbia    GBP Total  £ million    32550

table2qb further requires strings that will form URIs to be formatted for use as (RDF) identifiers and the bijection to be output as another CSV file. In this case, we currently need a countries.csv file along the following lines:

```Label,Notation,Parent Notation
Australia,australia,
Chile,chile,
Falkland Islands,falkland-islands,
French Polynesia,french-polynesia,
Ghana,ghana,
Hong Kong,hong-kong,```

In [5]:
countriesTable = pandas.DataFrame(data={'Label': sorted(list(countries))})
countriesTable['Notation'] = countriesTable['Label'].map(lambda x: x.lower().replace('&', 'and').replace(' ', '-'))
countriesTable['Parent Notation'] = ''
countriesTable

                Label           Notation Parent Notation
0         Afghanistan        afghanistan
1             Albania            albania
2             Algeria            algeria
3      American Samoa     american-samoa
4             Andorra            andorra
5              Angola             angola
6            Anguilla           anguilla
7          Antarctica         antarctica
8     Antigua:Barbuda    antigua:barbuda
9           Argentina          argentina
10            Armenia            armenia
11              Aruba              aruba
12          Australia          australia
13         Azerbaijan         azerbaijan
14            Bahamas            bahamas
15            Bahrain            bahrain
16         Bangladesh         bangladesh
17           Barbados           barbados
18            Belarus            belarus
19             Belize             belize
20              Benin              benin
21            Bermuda            bermuda
22             Bhutan             bhutan
23            Bolivia            bolivia
24            Bonaire            bonaire
25     Bosnia & Herz.   bosnia-and-herz.
26           Botswana           botswana
27      Bouvet Island      bouvet-island
28     Br Ind Oc Terr     br-ind-oc-terr
29       Br Virgin Is       br-virgin-is
..                ...                ...             ...
185            Taiwan             taiwan
186        Tajikistan         tajikistan
187          Tanzania           tanzania
188          Thailand           thailand
189       Timor-Leste        timor-leste
190              Togo               togo
191             Tonga              tonga
192   Trinidad:Tobago    trinidad:tobago
193           Tunisia            tunisia
194            Turkey             turkey
195      Turkmenistan       turkmenistan
196    Turks & Caicos   turks-and-caicos
197            Tuvalu             tuvalu
198               UAE                uae
199  US Minor Islands   us-minor-islands
200      US Virgin Is       us-virgin-is
201            Uganda             uganda
202           Ukraine            ukraine
203     United States      united-states
204           Uruguay            uruguay
205        Uzbekistan         uzbekistan
206           Vanuatu            vanuatu
207      Vatican City       vatican-city
208         Venezuela          venezuela
209           Vietnam            vietnam
210   Wallis & Futuna  wallis-and-futuna
211    Western Sahara     western-sahara
212             Yemen              yemen
213            Zambia             zambia
214          Zimbabwe           zimbabwe

[215 rows x 3 columns]

In [6]:
countriesTable.to_csv(destFolder / 'countries.csv', index=False)
provOutputs.append((destFolder / 'countries.csv', 'countries table'))

Finally, output the PROV metadata as JSON-LD. This goes to the 'out' folder.

In [7]:
metadataDir = Path('metadata')
with open(metadataDir / 'prov_context.json') as contextFile:
    context = json.load(contextFile)

provActivity['endedAtTime'] = datetime.now(timezone('Europe/London')).isoformat()
prov = {
    '@context': context,
    '@graph': [ provActivity ] + provSources + [
        {
            '@id': environ.get('BUILD_URL', 'unknown-build') + 'artifact/' + str(filename),
            '@type': 'entity',
            'wasGeneratedBy': provActivity['@id'],
            'label': label
        } for (filename, label) in provOutputs
    ]
}

with open(destFolder / 'prov.jsonld', 'w') as provFile:
    json.dump(prov, provFile, indent=2)