# Prepare Sources

The HMRC provide overseas trade statistics broken down by country and commoditiy code using the Combined Nomenclature "CN8" 8 digit codes.

These statistics have been obtained as a series of CSV files as "Tidy Data".

However, some preparation is necessary in order to process these files using the table2qb utility.

Firstly, fetch the source data, in this case from a shared (open) Google drive.

We also keep track of the processing and the provenance of the inputs and outputs using W3C Prov.

In [1]:
from datetime import datetime
import json
from pytz import timezone
from os import environ

provActivity = {
    '@id': environ.get('BUILD_URL', 'unknown-build') + "#prepare_sources",
    '@type': 'activity',
    'startedAtTime': datetime.now(timezone('Europe/London')).isoformat(),
    'label': 'Prepare sources',
    'comment': 'Jupyter Python notebook as part of Jenkins job %s' % environ.get('JOB_NAME', 'unknown-job')
}

In [2]:
import requests
from pathlib import Path
from io import BytesIO
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

provSources = []

sources = [
    ('CN8_Non-EU_cod_2012.csv', '1P7YyFF6qXKXWVtR0Vt3kkvFPOjThMQH8'),
    ('CN8_Non-EU_cod_2013.csv', '1de-Le9ungrbdoGyvWI_RwmEhNpTmR-70'),
    ('CN8_Non-EU_cod_2014.csv', '1oC3jlItfsUshd54KOR7yn9NxpR83iCbC'),
    ('CN8_Non-EU_cod_2015.csv', '1H54-FYrCFa1DylCBg38RAPAeCtkGq4la'),
    ('CN8_Non-EU_cod_2016.csv', '11fLsnoiWzTcA1d3nSDWvyrKQEHwIf6Hz')
]

sourceUrls = []

for filename, google_id in sources:
    
    sourceUrl = f'https://drive.google.com/uc?export=download&id={google_id}'
    sourceUrls.append(sourceUrl)
    provSources.append({
        '@id': sourceUrl,
        '@type': 'entity',
        'label': filename,
        'wasUsedBy': provActivity['@id']
    })

In [3]:
import pandas as pd

table = pd.concat([pd.read_csv(BytesIO(session.get(sourceUrl).content),
                                       dtype={'comcode': str},
                                       na_values=[], keep_default_na=False)
                       for sourceUrl in sourceUrls], ignore_index=True).rename(
    index = str,
    columns = {'year': 'Year', 'flow': 'Flow', 'comcode': 'Commodity',
               'country': 'Foreign Country', 'svalue': 'Value'})
table

         Year Flow Commodity   Foreign Country       Value
0        2012    e  01012100            Norway     1773490
1        2012    e  01012100       Switzerland       69378
2        2012    e  01012100            Turkey      406337
3        2012    e  01012100           Ukraine       49903
4        2012    e  01012100            Serbia       32550
5        2012    e  01012100             Libya      152125
6        2012    e  01012100           Nigeria        2578
7        2012    e  01012100      South Africa     1390218
8        2012    e  01012100     United States    16701807
9        2012    e  01012100            Canada       30459
10       2012    e  01012100            Mexico        2396
11       2012    e  01012100         Venezuela       32225
12       2012    e  01012100            Brazil       70646
13       2012    e  01012100         Argentina      806829
14       2012    e  01012100           Lebanon       20000
15       2012    e  01012100            Israel        5000
16       2012    e  01012100      Saudi Arabia     4546383
17       2012    e  01012100            Kuwait      656048
18       2012    e  01012100           Bahrain      251897
19       2012    e  01012100             Qatar     2672923
20       2012    e  01012100               UAE     1299841
21       2012    e  01012100              Oman       10000
22       2012    e  01012100          Pakistan        3500
23       2012    e  01012100             India      968938
24       2012    e  01012100          Malaysia       75555
25       2012    e  01012100         Singapore      104973
26       2012    e  01012100       South Korea      110775
27       2012    e  01012100             Japan    18674804
28       2012    e  01012100         Hong Kong    16536440
29       2012    e  01012100             Macao       57250
...       ...  ...       ...               ...         ...
1543155  2016    i  99209900             Burma     1383211
1543156  2016    i  99209900          Thailand    12733492
1543157  2016    i  99209900              Laos       52568
1543158  2016    i  99209900           Vietnam     3173245
1543159  2016    i  99209900          Cambodia      406630
1543160  2016    i  99209900       Timor-Leste         901
1543161  2016    i  99209900         Indonesia     1887240
1543162  2016    i  99209900          Malaysia     6001814
1543163  2016    i  99209900            Brunei      348790
1543164  2016    i  99209900         Singapore     5649030
1543165  2016    i  99209900       Philippines     3686932
1543166  2016    i  99209900          Mongolia       83338
1543167  2016    i  99209900             China   132867264
1543168  2016    i  99209900       South Korea    36979165
1543169  2016    i  99209900             Japan   100328092
1543170  2016    i  99209900            Taiwan    17717389
1543171  2016    i  99209900         Hong Kong    46617758
1543172  2016    i  99209900             Macao      693827
1543173  2016    i  99209900         Australia    56030138
1543174  2016    i  99209900  Papua New Guinea       47292
1543175  2016    i  99209900       New Zealand    24212668
1543176  2016    i  99209900   Solomon Islands        2465
1543177  2016    i  99209900     New Caledonia       41870
1543178  2016    i  99209900          Pitcairn       27622
1543179  2016    i  99209900              Fiji      280266
1543180  2016    i  99209900           Vanuatu      119448
1543181  2016    i  99209900             Tonga       36066
1543182  2016    i  99209900             Samoa        5883
1543183  2016    i  99209900  French Polynesia        7592
1543184  2016    i  99500000   Low Value Trade  4822618458

[1543185 rows x 5 columns]

Countries are mandated by Eurostat to use the Geonomenclature (GEONOM), which gradually changes over the years. HMRC keeps track of these changes to the country codes and numbers and their data for each year will use the latest GEONOM codes.

For now, we'll just use a static list that's good enough, but will __need to revisit this__.

In [4]:
geonom_2018_excel = 'https://drive.google.com/uc?export=download&id=17Laouuze9gT04xV1Q5M-RZyEqGZUHZJ_'
geonom = pd.read_excel(BytesIO(session.get(geonom_2018_excel).content),
                       na_values=[], keep_default_na=False, dtypes=str)
geonom['codseq'] = geonom['codseq'].apply(
    lambda x: "%03d" % int(x))
geonom.drop(columns=['statsw', 'geogsw', 'dutysw'], inplace=True)
geonom

    codseq           country codalpha
0      001            France       FR
1      003       Netherlands       NL
2      004           Germany       DE
3      005             Italy       IT
4      006                UK       GB
5      007    Irish Republic       IE
6      008           Denmark       DK
7      009            Greece       GR
8      010          Portugal       PT
9      011             Spain       ES
10     017           Belgium       BE
11     018        Luxembourg       LU
12     021             Ceuta       XC
13     023           Melilla       XL
14     024           Iceland       IS
15     028            Norway       NO
16     030            Sweden       SE
17     032           Finland       FI
18     037     Liechtenstein       LI
19     038           Austria       AT
20     039       Switzerland       CH
21     041     Faroe Islands       FO
22     043           Andorra       AD
23     044         Gibraltar       GI
24     045      Vatican City       VA
25     046             Malta       MT
26     047        San Marino       SM
27     052            Turkey       TR
28     053           Estonia       EE
29     054            Latvia       LV
..     ...               ...      ...
214    812          Kiribati       KI
215    813          Pitcairn       PN
216    815              Fiji       FJ
217    816           Vanuatu       VU
218    817             Tonga       TO
219    819             Samoa       WS
220    820      N Mariana Is       MP
221    822  French Polynesia       PF
222    823        Micronesia       FM
223    824  Marshall Islands       MH
224    825             Palau       PW
225    830    American Samoa       AS
226    831              Guam       GU
227    832  US Minor Islands       UM
228    833     Cocos Islands       CC
229    834      Christmas Is       CX
230    835  Heard & Mcdonald       HM
231    836    Norfolk Island       NF
232    891        Antarctica       AQ
233    892     Bouvet Island       BV
234    894  Fr Southern Terr       TF
235    923       Niue Island       NU
236    926      Cook Islands       CK
237    951  Stores & Provis.       QR
238    952  Stores & Provis.       QS
239    958   Low Value Trade       ZY
240    961       Parcel Post       XX
241    964     No Flag Avail       ZZ
242    967         Fish Flag       FF
243    999         Dummy End

[244 rows x 3 columns]

We'll ignore the miscellaneous codes (e.g. Stores & Provis: deliveries of ship/aircraft stores et seq.)

In [5]:
geonom = geonom[:geonom[geonom['country'] == 'Stores & Provis.'].index[0]]
geonom.tail()

    codseq           country codalpha
232    891        Antarctica       AQ
233    892     Bouvet Island       BV
234    894  Fr Southern Terr       TF
235    923       Niue Island       NU
236    926      Cook Islands       CK

In [6]:
table = pd.merge(table, geonom, how='inner', left_on='Foreign Country', right_on='country', validate="m:1")
table

,Year,Flow,Commodity,Foreign Country,Value,codseq,country,codalpha
0,2012,e,01012100,Norway,1773490,028,Norway,NO
1,2012,e,01012990,Norway,147704,028,Norway,NO
2,2012,e,01051200,Norway,161586,028,Norway,NO
3,2012,e,01051300,Norway,11096,028,Norway,NO
4,2012,e,01061900,Norway,4520,028,Norway,NO
5,2012,e,01069000,Norway,17972,028,Norway,NO
6,2012,e,02011000,Norway,183545,028,Norway,NO
7,2012,e,02012090,Norway,278155,028,Norway,NO
8,2012,e,02013000,Norway,4287,028,Norway,NO
9,2012,e,02023090,Norway,4907,028,Norway,NO
10,2012,e,02031990,Norway,3200,028,Norway,NO
11,2012,e,02041000,Norway,3900533,028,Norway,NO
12,2012,e,02042210,Norway,191765,028,Norway,NO
13,2012,e,02043000,Norway,3745319,028,Norway,NO
14,2012,e,02071190,Norway,62633,028,Norway,NO
15,2012,e,02089030,Norway,188152,028,Norway,NO
16,2012,e,02089098,Norway,10909,028,Norway,NO
17,2012,e,02101981,Norway,65911,028,Norway,NO
18,2012,e,02109929,Norway,2152,028,Norway,NO
19,2012,e,03011100,Norway,7619,028,Norway,NO
20,2012,e,03011900,Norway,35205,028,Norway,NO
21,2012,e,03019985,Norway,7577,028,Norway,NO
22,2012,e,03021300,Norway,4000,028,Norway,NO
23,2012,e,03021400,Norway,39015,028,Norway,NO
24,2012,e,03021900,Norway,11400,028,Norway,NO
25,2012,e,03024400,Norway,2593835,028,Norway,NO
26,2012,e,03031100,Norway,11963,028,Norway,NO
27,2012,e,03035310,Norway,499463,028,Norway,NO
28,2012,e,03036310,Norway,27000,028,Norway,NO
29,2012,e,03036500,Norway,8193,028,Norway,NO
...,...,...,...,...,...,...,...,...
1542046,2016,e,22083071,Bonaire,3231974,475,Bonaire,BQ
1542047,2016,e,30049000,Bonaire,277454,475,Bonaire,BQ
1542048,2016,e,39269097,Bonaire,2990,475,Bonaire,BQ
1542049,2016,e,40122000,Bonaire,6150,475,Bonaire,BQ
1542050,2016,e,40169997,Bonaire,1200,475,Bonaire,BQ
1542051,2016,e,49019900,Bonaire,2136,475,Bonaire,BQ
1542052,2016,e,69120023,Bonaire,800,475,Bonaire,BQ
1542053,2016,e,71141100,Bonaire,1800,475,Bonaire,BQ
1542054,2016,e,73158900,Bonaire,1680,475,Bonaire,BQ
1542055,2016,e,73269098,Bonaire,2220,475,Bonaire,BQ
1542056,2016,e,84069090,Bonaire,2580,475,Bonaire,BQ
1542057,2016,e,84099900,Bonaire,924,475,Bonaire,BQ
1542058,2016,e,84178070,Bonaire,188188,475,Bonaire,BQ
1542059,2016,e,84734018,Bonaire,10179,475,Bonaire,BQ
1542060,2016,e,84811005,Bonaire,1079,475,Bonaire,BQ
1542061,2016,e,90148000,Bonaire,835,475,Bonaire,BQ
1542062,2016,e,90181990,Bonaire,4000,475,Bonaire,BQ
1542063,2016,e,90278091,Bonaire,23098,475,Bonaire,BQ
1542064,2016,e,94019010,Bonaire,1049,475,Bonaire,BQ
1542065,2016,e,94032020,Bonaire,1155,475,Bonaire,BQ
1542066,2016,i,99209900,Bonaire,2529,475,Bonaire,BQ
1542067,2013,e,87088099,Western Sahara,1575,206,Western Sahara,EH
1542068,2014,e,61013090,Western Sahara,1720,206,Western Sahara,EH
1542069,2015,e,90058000,Western Sahara,5581,206,Western Sahara,EH
1542070,2016,e,49011000,Western Sahara,1740,206,Western Sahara,EH
1542071,2016,e,70071920,Western Sahara,3687,206,Western Sahara,EH
1542072,2016,e,85131000,Western Sahara,1258,206,Western Sahara,EH
1542073,2016,e,90229000,Western Sahara,11032,206,Western Sahara,EH
1542074,2016,i,62034231,Western Sahara,79626,206,Western Sahara,EH
1542075,2016,i,62046231,Western Sahara,59922,206,Western Sahara,EH

We're using a good-enough-for-now list of country codes based on the alpha codes above

In [7]:
table.rename(columns={'codalpha': 'HMRC Partner Geography'}, inplace=True)
table.drop(columns=['Foreign Country', 'codseq', 'country'], inplace=True)
table

         Year Flow Commodity    Value HMRC Partner Geography
0        2012    e  01012100  1773490                     NO
1        2012    e  01012990   147704                     NO
2        2012    e  01051200   161586                     NO
3        2012    e  01051300    11096                     NO
4        2012    e  01061900     4520                     NO
5        2012    e  01069000    17972                     NO
6        2012    e  02011000   183545                     NO
7        2012    e  02012090   278155                     NO
8        2012    e  02013000     4287                     NO
9        2012    e  02023090     4907                     NO
10       2012    e  02031990     3200                     NO
11       2012    e  02041000  3900533                     NO
12       2012    e  02042210   191765                     NO
13       2012    e  02043000  3745319                     NO
14       2012    e  02071190    62633                     NO
15       2012    e  02089030   188152                     NO
16       2012    e  02089098    10909                     NO
17       2012    e  02101981    65911                     NO
18       2012    e  02109929     2152                     NO
19       2012    e  03011100     7619                     NO
20       2012    e  03011900    35205                     NO
21       2012    e  03019985     7577                     NO
22       2012    e  03021300     4000                     NO
23       2012    e  03021400    39015                     NO
24       2012    e  03021900    11400                     NO
25       2012    e  03024400  2593835                     NO
26       2012    e  03031100    11963                     NO
27       2012    e  03035310   499463                     NO
28       2012    e  03036310    27000                     NO
29       2012    e  03036500     8193                     NO
...       ...  ...       ...      ...                    ...
1542046  2016    e  22083071  3231974                     BQ
1542047  2016    e  30049000   277454                     BQ
1542048  2016    e  39269097     2990                     BQ
1542049  2016    e  40122000     6150                     BQ
1542050  2016    e  40169997     1200                     BQ
1542051  2016    e  49019900     2136                     BQ
1542052  2016    e  69120023      800                     BQ
1542053  2016    e  71141100     1800                     BQ
1542054  2016    e  73158900     1680                     BQ
1542055  2016    e  73269098     2220                     BQ
1542056  2016    e  84069090     2580                     BQ
1542057  2016    e  84099900      924                     BQ
1542058  2016    e  84178070   188188                     BQ
1542059  2016    e  84734018    10179                     BQ
1542060  2016    e  84811005     1079                     BQ
1542061  2016    e  90148000      835                     BQ
1542062  2016    e  90181990     4000                     BQ
1542063  2016    e  90278091    23098                     BQ
1542064  2016    e  94019010     1049                     BQ
1542065  2016    e  94032020     1155                     BQ
1542066  2016    i  99209900     2529                     BQ
1542067  2013    e  87088099     1575                     EH
1542068  2014    e  61013090     1720                     EH
1542069  2015    e  90058000     5581                     EH
1542070  2016    e  49011000     1740                     EH
1542071  2016    e  70071920     3687                     EH
1542072  2016    e  85131000     1258                     EH
1542073  2016    e  90229000    11032                     EH
1542074  2016    i  62034231    79626                     EH
1542075  2016    i  62046231    59922                     EH

[1542076 rows x 5 columns]

In [8]:
table['Measure Type'] = 'GBP Total'
table['Unit'] = '£ million'
table['Flow'] = table['Flow'].map(lambda x: {'i': 'Import', 'e': 'Export'}[x])

In [9]:
destFolder = Path('out')
destFolder.mkdir(exist_ok=True, parents=True)

provOutputs = []

destFile = destFolder / 'CN8_Non-EU_cod_2012-2016.csv'
table.sample(n=10000, random_state=149).to_csv(destFile, index=False)
#table.to_csv(destFile, index=False)
provOutputs.append((destFile, 'CN8_Non-EU_cod-2012-2016 table'))

Output the PROV metadata as JSON-LD. This goes to the 'out' folder.

In [10]:
metadataDir = Path('metadata')
with open(metadataDir / 'prov_context.json') as contextFile:
    context = json.load(contextFile)

provActivity['endedAtTime'] = datetime.now(timezone('Europe/London')).isoformat()
prov = {
    '@context': context,
    '@graph': [ provActivity ] + provSources + [
        {
            '@id': environ.get('BUILD_URL', 'unknown-build') + 'artifact/' + str(filename),
            '@type': 'entity',
            'wasGeneratedBy': provActivity['@id'],
            'label': label
        } for (filename, label) in provOutputs
    ]
}

with open(destFolder / 'prov.jsonld', 'w') as provFile:
    json.dump(prov, provFile, indent=2)

Create dataset metadata

In [11]:
modified_date = datetime.now(timezone('Europe/London')).isoformat()

from string import Template
with open(Path('metadata') / 'dataset.trig.template', 'r') as metadata_template_file:
    metadata_template = Template(metadata_template_file.read())
    with open(destFolder / 'dataset.trig', 'w') as metadata_file:
        metadata_file.write(metadata_template.substitute(modified=modified_date))