In [47]:
import pandas as pd
import requests
from pathlib import Path
from io import BytesIO
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified
from zipfile import ZipFile
import os
import numpy as np
from datetime import datetime
from pytz import timezone
import json
from string import Template

startedAt = datetime.now(timezone('Europe/London'))
buildUrl = os.environ.get('BUILD_URL', 'unknown-build')
jobName = os.environ.get('JOB_NAME', 'unknown-job')

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

dataUrl = "https://www.uktradeinfo.com/Statistics/Documents/Data%20Downloads/"

with ZipFile(BytesIO(session.get(dataUrl + "SMKA12_2017archive.zip").content)) as controlZips:
    for monthZipName in controlZips.namelist():
        with ZipFile(BytesIO(controlZips.open(monthZipName).read())) as monthControlZip:
            assert len(monthControlZip.namelist()) == 1
            with monthControlZip.open(monthControlZip.namelist()[0]) as monthControl:
                table = pd.read_csv(monthControl, sep='|', encoding='latin-1')
                display(table)
        break

,000000000,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,HMCUSTOMS CONTROL DATA,2017,01
0,10121000,0,00/00,00/00,00/00,00/00,0,00150,2,013,...,0,0,0,0,KG,NO,Pure-bred breeding horses ...,NaN,NaN,NaN
1,10129100,0,00/00,00/00,00/00,00/00,0,00150,2,013,...,0,0,0,0,KG,NO,Horses for slaughter ...,NaN,NaN,NaN
2,10129900,0,00/00,00/00,00/00,00/00,0,00150,2,013,...,0,0,0,0,KG,NO,"Live horses (excl. for slaughter, pure-bred fo...",NaN,NaN,NaN
3,10130000,0,00/00,00/00,00/00,00/00,0,00150,2,013,...,0,0,0,0,KG,NO,Live asses ...,NaN,NaN,NaN
4,10190000,0,00/00,00/00,00/00,00/00,0,00150,2,013,...,0,0,0,0,KG,NO,Live mules and hinnies ...,NaN,NaN,NaN
5,10221100,0,00/00,00/00,00/00,00/00,0,00111,2,013,...,0,0,0,0,KG,NO,"Pure-bred breeding heifers ""female bovines tha...",NaN,NaN,NaN
6,10221300,0,00/00,00/00,00/00,00/00,0,00111,2,013,...,0,0,0,0,KG,NO,Pure-bred breeding cows (excl. heifers) ...,NaN,NaN,NaN
7,10221900,0,00/00,00/00,00/00,00/00,0,00111,2,013,...,0,0,0,0,KG,NO,Pure-bred cattle for breeding (excl. heifers a...,NaN,NaN,NaN
8,10229050,0,00/00,00/00,00/00,00/00,0,00111,2,013,...,0,0,0,0,KG,NO,Live cattle of the sub-genus Bibos or Poephagu...,NaN,NaN,NaN
9,10229100,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,Live cattle of a weight <= 80 kg (excl. pure-b...,NaN,NaN,NaN
10,10229210,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,"Cattle of a weight > 80 kg but <= 160 kg, for ...",NaN,NaN,NaN
11,10229290,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,Live cattle of a weight > 80 kg but <= 160 kg ...,NaN,NaN,NaN
12,10229410,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,"Cattle of a weight > 160 kg but <= 300 kg, for...",NaN,NaN,NaN
13,10229490,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,Live cattle of a weight > 160 kg but <= 300 kg...,NaN,NaN,NaN
14,10229510,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,"Heifers ""female bovines that have never calved...",NaN,NaN,NaN
15,10229590,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,"Live heifers ""female bovines that have never c...",NaN,NaN,NaN
16,10229610,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,"Cows of a weight > 300 kg, for slaughter (excl...",NaN,NaN,NaN
17,10229690,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,Live cows of a weight > 300 kg (excl. for slau...,NaN,NaN,NaN
18,10229910,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,"Cattle of a weight > 300 kg, for slaughter (ex...",NaN,NaN,NaN
19,10229990,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,Live cattle of a weight > 300 kg (excl. for sl...,NaN,NaN,NaN
20,10231000,0,00/00,00/00,00/00,00/00,0,00111,2,013,...,0,0,0,0,KG,NO,Pure-bred buffalo for breeding ...,NaN,NaN,NaN
21,10239100,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,Live domestic buffalo (excl. pure-bred for bre...,NaN,NaN,NaN
22,10239900,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,Live buffalo (excl. domestic species and pure-...,NaN,NaN,NaN
23,10290200,0,00/00,00/00,00/00,00/00,0,00111,2,013,...,0,0,0,0,KG,NO,Bovine pure-bred breeding animals (excl. cattl...,NaN,NaN,NaN
24,10290910,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,Live domestic bovine animals (excl. cattle and...,NaN,NaN,NaN
25,10290990,0,00/00,00/00,00/00,00/00,0,00119,2,013,...,0,0,0,0,KG,NO,"Live bovine animals (excl. cattle, buffalo, pu...",NaN,NaN,NaN
26,10310000,0,00/00,00/00,00/00,00/00,0,00131,2,013,...,0,0,0,0,KG,NO,Pure-bred breeding swine ...,NaN,NaN,NaN
27,10391100,0,00/00,00/00,00/00,00/00,0,00139,2,013,...,0,0,0,0,KG,NO,"Domestic swine, weighing < 50 kg (excl. pure-b...",NaN,NaN,NaN
28,10391900,0,00/00,00/00,00/00,00/00,0,00139,2,013,...,0,0,0,0,KG,NO,"Live non-domestic swine, weighing < 50 kg ...",NaN,NaN,NaN
29,10392110,0,00/00,00/00,00/00,00/00,0,00139,2,013,...,0,0,0,0,KG,NO,"Live domestic sows, having farrowed at least o...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10096,970200000,0,00/00,00/00,00/00,00/00,0,89620,1,013,...,0,0,0,0,KG,,"Original engravings, prints and lithographs ...",NaN,NaN,NaN
10097,970300000,0,00/00,00/00,00/00,00/00,0,89630,1,013,...,0,0,0,0,KG,,"Original sculptures and statuary, in any mater...",NaN,NaN,NaN
10098,970400000,0,00/00,00/00,00/00,00/00,0,89640,1,013,...,0,0,0,0,KG,,"Postage or revenue stamps, stamp-postmarks, fi...",NaN,NaN,NaN
10099,970500000,0,00/00,00/00,00/00,00/00,0,89650,1,013,...,0,0,0,0,KG,,Collections and collector's pieces of zoologic...,NaN,NaN,NaN
10100,970600000,0,00/00,00/00,00/00,00/00,0,89660,1,013,...,0,0,0,0,KG,,Antiques of > 100 years old ...,NaN,NaN,NaN
10101,988063000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10102,988068000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10103,988069000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10104,988070000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10105,988072000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10106,988073000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10107,988076000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10108,988082000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10109,988084000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10110,988085000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10111,988086000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10112,988087000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10113,988090000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10114,988094000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,INDUSTRIAL PLANT COMPONENT PARTS FALLING IN TA...,NaN,NaN,NaN
10115,992099000,0,00/00,00/00,00/00,00/00,0,91100,1,000,...,0,0,0,0,NO,,POSTAL PACKAGES NOT CLASSIFIED ACCORDING TO KI...,NaN,NaN,NaN
10116,993024000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,SHIPS' AND AIRCRAFT'S STORES AND SUPPLIES ...,NaN,NaN,NaN
10117,993027000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,SHIP'S AND AIRCRAFT'S STORES AND SUPPLIES ...,NaN,NaN,NaN
10118,993099000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,SHIPS' AND AIRCRAFT'S STORES AND SUPPLIES ...,NaN,NaN,NaN
10119,993124000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,GOODS DELIVERED TO OFFSHORE INSTALLATIONS-CN C...,NaN,NaN,NaN
10120,993127000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,GOODS DELIVERED TO OFFSHORE INSTALATIONS- CN C...,NaN,NaN,NaN
10121,993199000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,GOODS DELIVERED TO OFFSHORE INSTALLATIONS -CLA...,NaN,NaN,NaN
10122,995000000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,,,TRANSACTIONS OF LOW VALUE NOT CLASSIFIED ACCOR...,NaN,NaN,NaN
10123,999087000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,MIXED CONSIGNMENTS OF MOTOR VEHICLE PARTS ...,NaN,NaN,NaN
10124,999088000,0,00/00,00/00,00/00,00/00,0,93100,0,000,...,0,0,0,0,KG,,MIXED CONSIGNMENTS OF AIRCRAFT PARTS ...,NaN,NaN,NaN
10125,999999999,,,,,,,,,,...,,,,,,,...,10125.0,NaN,NaN

In [48]:
# Non EU

column_names = ["COMCODE", "SITC", "RECORD-TYPE", "COD-SEQUENCE", "COD-ALPHA", "MONTH", "PORT-SEQUENCE", "PORT-ALPHA",
                "FLAG-SEQUENCE", "FLAG-ALPHA", "TRADE-INDICATOR", "CONTAINER", "MODE-OF-TRANSPORT", "INLAND-MOT",
                "GOLO-SEQUENCE", "GOLO-ALPHA", "SUITE-INDICATOR", "PROCEDURE-CODE", "Value", "QUANTITY1", "QUANTITY2",
                "INDUSTRIAL-PLANT-COMCODE"]

def get_cn8(comcode, month):
    cn8 = comcode[0:8]
    year = month[3:]
    return 'cn_%s#cn8_%s' % (year, cn8)

def get_period_slug(month):
    return 'month/%s-%s' % (month[0:2], month[3:])

destFolder = Path('out')
if not destFolder.exists():
    destFolder.mkdir(parents=True)
    
provSources = []    
provOutputs = []
    
zipName = "SMKE19_2017archive.zip"
zipUrl = dataUrl + zipName

with ZipFile(BytesIO(session.get(zipUrl).content)) as controlZips:
    for monthZipName in controlZips.namelist():
        with ZipFile(BytesIO(controlZips.open(monthZipName).read())) as monthControlZip:
            assert len(monthControlZip.namelist()) == 1
            innerZipName = monthControlZip.namelist()[0]
            with monthControlZip.open(innerZipName) as monthControl:
                table = pd.read_csv(monthControl,
                                    engine='python', 
                                    sep='|', 
                                    encoding='latin-1', 
                                    skiprows=1, 
                                    skipfooter=1,
                                    header=None,
                                    names=column_names,
                                    dtype={"COMCODE": str})
                table.drop(["SITC", "COD-SEQUENCE", "PORT-SEQUENCE", "PORT-ALPHA",
                             "FLAG-SEQUENCE", "FLAG-ALPHA", "TRADE-INDICATOR", "CONTAINER", 
                             "MODE-OF-TRANSPORT", "INLAND-MOT", "GOLO-SEQUENCE", "GOLO-ALPHA",
                             "SUITE-INDICATOR", "PROCEDURE-CODE", "INDUSTRIAL-PLANT-COMCODE"], 
                           inplace=True, axis='columns')
                
                table['Period'] = map(get_period_slug, table["MONTH"])
                table['Flow'] = 'Exports'
                table['HMRC Partner Geography'] = table['COD-ALPHA']
                table["Combined Nomenclature"] = map(get_cn8, table["COMCODE"], table["MONTH"])
                table['Measure Type'] = 'GBP Total'
                table['Unit'] = '£'
                table = table[['Period', 'Flow', 'Combined Nomenclature', 'HMRC Partner Geography', 'Measure Type', 'Unit', 'Value']]
                
                #TODO: write last slice
                sliceSize = 50000
                for i in np.arange(len(table)//sliceSize):
                    fileName = 'smke_{}_{:04}.csv'.format(os.path.splitext(innerZipName)[0], i)
                    destFile = destFolder / fileName
                    table.iloc[i*sliceSize:i*sliceSize+sliceSize-1].to_csv(destFile, index=False)

                    provOutputs.append((destFile, 'SMKE19_2017 table'))
                    
                provSources.append({
                    '@id': zipUrl + '/' + monthZipName + '/' + innerZipName,
                    '@type': 'entity',
                    'label': zipName + '/' + monthZipName + '/' + innerZipName,
                    'wasUsedBy': provActivity['@id']
                })
                
                display(table)
                
#write provenance metadata

def get_prov_context():
    #metadataDir = Path('metadata')
    with open('metadata/prov_context.json') as contextFile:
        return json.load(contextFile)

context = get_prov_context()

provActivity = {
    '@id': buildUrl + "#tidy_published",
    '@type': 'activity',
    'startedAtTime': startedAt.isoformat(),
    'label': 'Tidy published',
    'comment': 'Jupyter Python notebook as part of Jenkins job %s' % jobName
}

provActivity['endedAtTime'] = datetime.now(timezone('Europe/London')).isoformat()
prov = {
    '@context': context,
    '@graph': [ provActivity ] + provSources + [
        {
            '@id': buildUrl + '/artifact/' + str(filename),
            '@type': 'entity',
            'wasGeneratedBy': provActivity['@id'],
            'label': label
        } for (filename, label) in provOutputs
    ]
}

with open(str(destFolder / 'prov.jsonld'), 'w') as provFile:
    json.dump(prov, provFile, indent=2)
    
modified_date = datetime.now(timezone('Europe/London')).isoformat()


with open('metadata/dataset.trig.template', 'r') as metadata_template_file:
    metadata_template = Template(metadata_template_file.read())
    with open(str(destFolder / 'dataset.trig'), 'w') as metadata_file:
        metadata_file.write(metadata_template.substitute(modified=modified_date))

,Period,Flow,Combined Nomenclature,HMRC Partner Geography,Measure Type,Unit,Value
0,month/01-2017,Exports,cn_2017#cn8_01012100,NO,GBP Total,£,20000
1,month/01-2017,Exports,cn_2017#cn8_01012100,CH,GBP Total,£,346678
2,month/01-2017,Exports,cn_2017#cn8_01012100,TN,GBP Total,£,1898
3,month/01-2017,Exports,cn_2017#cn8_01012100,ZA,GBP Total,£,418663
4,month/01-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,206577
5,month/01-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,1283477
6,month/01-2017,Exports,cn_2017#cn8_01012100,CA,GBP Total,£,27403
7,month/01-2017,Exports,cn_2017#cn8_01012100,CA,GBP Total,£,117500
8,month/01-2017,Exports,cn_2017#cn8_01012100,SA,GBP Total,£,135124
9,month/01-2017,Exports,cn_2017#cn8_01012100,KW,GBP Total,£,15177
10,month/01-2017,Exports,cn_2017#cn8_01012100,KW,GBP Total,£,28000
11,month/01-2017,Exports,cn_2017#cn8_01012100,QA,GBP Total,£,6745
12,month/01-2017,Exports,cn_2017#cn8_01012100,QA,GBP Total,£,12648
13,month/01-2017,Exports,cn_2017#cn8_01012100,IN,GBP Total,£,253352
14,month/01-2017,Exports,cn_2017#cn8_01012100,JP,GBP Total,£,7505219
15,month/01-2017,Exports,cn_2017#cn8_01012100,HK,GBP Total,£,633621
16,month/01-2017,Exports,cn_2017#cn8_01012100,AU,GBP Total,£,2425384
17,month/01-2017,Exports,cn_2017#cn8_01012990,CH,GBP Total,£,10818
18,month/01-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,4460323
19,month/01-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,37250
20,month/01-2017,Exports,cn_2017#cn8_01012990,CA,GBP Total,£,104342
21,month/01-2017,Exports,cn_2017#cn8_01012990,SA,GBP Total,£,101350
22,month/01-2017,Exports,cn_2017#cn8_01012990,KW,GBP Total,£,3500
23,month/01-2017,Exports,cn_2017#cn8_01012990,BH,GBP Total,£,16307
24,month/01-2017,Exports,cn_2017#cn8_01012990,AE,GBP Total,£,37943
25,month/01-2017,Exports,cn_2017#cn8_01012990,HK,GBP Total,£,1457060
26,month/01-2017,Exports,cn_2017#cn8_01012990,AU,GBP Total,£,15200
27,month/01-2017,Exports,cn_2017#cn8_01051111,EG,GBP Total,£,416766
28,month/01-2017,Exports,cn_2017#cn8_01051111,ZA,GBP Total,£,244865
29,month/01-2017,Exports,cn_2017#cn8_01051111,SA,GBP Total,£,303400
...,...,...,...,...,...,...,...
169723,month/01-2017,Exports,cn_2017#cn8_99309900,AE,GBP Total,£,24737
169724,month/01-2017,Exports,cn_2017#cn8_99309900,AE,GBP Total,£,7394
169725,month/01-2017,Exports,cn_2017#cn8_99309900,LK,GBP Total,£,1725
169726,month/01-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,4573
169727,month/01-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,37005
169728,month/01-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,6283
169729,month/01-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,216787
169730,month/01-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,879
169731,month/01-2017,Exports,cn_2017#cn8_99309900,CN,GBP Total,£,194106
169732,month/01-2017,Exports,cn_2017#cn8_99309900,CN,GBP Total,£,955
169733,month/01-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,137821
169734,month/01-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,65491
169735,month/01-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,168343
169736,month/01-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,18567
169737,month/01-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,2239
169738,month/01-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,69117
169739,month/01-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,45166
169740,month/01-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,71308
169741,month/01-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,2264
169742,month/01-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,46384
169743,month/01-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,49753
169744,month/01-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,14379
169745,month/01-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,23450
169746,month/01-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,4795
169747,month/01-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,8095
169748,month/01-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,68971
169749,month/01-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,252316
169750,month/01-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,227696
169751,month/01-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,364708352
169752,month/01-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,20689596

,Period,Flow,Combined Nomenclature,HMRC Partner Geography,Measure Type,Unit,Value
0,month/02-2017,Exports,cn_2017#cn8_01012100,NO,GBP Total,£,6325
1,month/02-2017,Exports,cn_2017#cn8_01012100,CH,GBP Total,£,950
2,month/02-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,290600
3,month/02-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,302269
4,month/02-2017,Exports,cn_2017#cn8_01012100,KW,GBP Total,£,91675
5,month/02-2017,Exports,cn_2017#cn8_01012100,BH,GBP Total,£,100000
6,month/02-2017,Exports,cn_2017#cn8_01012100,QA,GBP Total,£,177961
7,month/02-2017,Exports,cn_2017#cn8_01012100,PK,GBP Total,£,3000
8,month/02-2017,Exports,cn_2017#cn8_01012100,IN,GBP Total,£,60599
9,month/02-2017,Exports,cn_2017#cn8_01012100,SG,GBP Total,£,163000
10,month/02-2017,Exports,cn_2017#cn8_01012100,JP,GBP Total,£,81018
11,month/02-2017,Exports,cn_2017#cn8_01012100,AU,GBP Total,£,287640
12,month/02-2017,Exports,cn_2017#cn8_01012100,NZ,GBP Total,£,502044
13,month/02-2017,Exports,cn_2017#cn8_01012990,NO,GBP Total,£,132892
14,month/02-2017,Exports,cn_2017#cn8_01012990,CH,GBP Total,£,82504
15,month/02-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,43579
16,month/02-2017,Exports,cn_2017#cn8_01012990,KW,GBP Total,£,76910
17,month/02-2017,Exports,cn_2017#cn8_01012990,QA,GBP Total,£,29400
18,month/02-2017,Exports,cn_2017#cn8_01012990,SG,GBP Total,£,24305
19,month/02-2017,Exports,cn_2017#cn8_01012990,HK,GBP Total,£,2355247
20,month/02-2017,Exports,cn_2017#cn8_01012990,AU,GBP Total,£,200643
21,month/02-2017,Exports,cn_2017#cn8_01019000,NO,GBP Total,£,10934
22,month/02-2017,Exports,cn_2017#cn8_01019000,CH,GBP Total,£,16906
23,month/02-2017,Exports,cn_2017#cn8_01019000,JP,GBP Total,£,10426
24,month/02-2017,Exports,cn_2017#cn8_01022949,IN,GBP Total,£,3254
25,month/02-2017,Exports,cn_2017#cn8_01029099,CH,GBP Total,£,1000
26,month/02-2017,Exports,cn_2017#cn8_01051111,PK,GBP Total,£,210561
27,month/02-2017,Exports,cn_2017#cn8_01051111,PK,GBP Total,£,250609
28,month/02-2017,Exports,cn_2017#cn8_01051119,UA,GBP Total,£,74005
29,month/02-2017,Exports,cn_2017#cn8_01051119,UA,GBP Total,£,58437
...,...,...,...,...,...,...,...
184318,month/02-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,165803
184319,month/02-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,79108
184320,month/02-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,7888
184321,month/02-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,20481
184322,month/02-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,5654
184323,month/02-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,4468
184324,month/02-2017,Exports,cn_2017#cn8_99309900,PH,GBP Total,£,1158
184325,month/02-2017,Exports,cn_2017#cn8_99309900,PH,GBP Total,£,6335
184326,month/02-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,114133
184327,month/02-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,46491
184328,month/02-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,2052
184329,month/02-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,1725
184330,month/02-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,26958
184331,month/02-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,233806
184332,month/02-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,1125
184333,month/02-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,1473
184334,month/02-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,49157
184335,month/02-2017,Exports,cn_2017#cn8_99309900,TW,GBP Total,£,25066
184336,month/02-2017,Exports,cn_2017#cn8_99309900,TW,GBP Total,£,13651
184337,month/02-2017,Exports,cn_2017#cn8_99309900,HK,GBP Total,£,1204
184338,month/02-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,13900
184339,month/02-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,87236
184340,month/02-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,168392
184341,month/02-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,2406
184342,month/02-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,302793
184343,month/02-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,77924
184344,month/02-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,40506
184345,month/02-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,47515
184346,month/02-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,339197823
184347,month/02-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,21019939

,Period,Flow,Combined Nomenclature,HMRC Partner Geography,Measure Type,Unit,Value
0,month/03-2017,Exports,cn_2017#cn8_01012100,CH,GBP Total,£,38880
1,month/03-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,170750
2,month/03-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,121800
3,month/03-2017,Exports,cn_2017#cn8_01012100,SA,GBP Total,£,50000
4,month/03-2017,Exports,cn_2017#cn8_01012100,AE,GBP Total,£,76950
5,month/03-2017,Exports,cn_2017#cn8_01012100,AE,GBP Total,£,25473
6,month/03-2017,Exports,cn_2017#cn8_01012100,IN,GBP Total,£,996
7,month/03-2017,Exports,cn_2017#cn8_01012100,IN,GBP Total,£,50434
8,month/03-2017,Exports,cn_2017#cn8_01012100,SG,GBP Total,£,3474
9,month/03-2017,Exports,cn_2017#cn8_01012100,HK,GBP Total,£,365000
10,month/03-2017,Exports,cn_2017#cn8_01012100,AU,GBP Total,£,232963
11,month/03-2017,Exports,cn_2017#cn8_01012990,NO,GBP Total,£,10164
12,month/03-2017,Exports,cn_2017#cn8_01012990,CH,GBP Total,£,19234
13,month/03-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,336323
14,month/03-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,5000
15,month/03-2017,Exports,cn_2017#cn8_01012990,SA,GBP Total,£,50000
16,month/03-2017,Exports,cn_2017#cn8_01012990,KW,GBP Total,£,16845
17,month/03-2017,Exports,cn_2017#cn8_01012990,AE,GBP Total,£,17625
18,month/03-2017,Exports,cn_2017#cn8_01012990,AE,GBP Total,£,72929
19,month/03-2017,Exports,cn_2017#cn8_01012990,OM,GBP Total,£,45000
20,month/03-2017,Exports,cn_2017#cn8_01012990,PK,GBP Total,£,390
21,month/03-2017,Exports,cn_2017#cn8_01012990,SG,GBP Total,£,37014
22,month/03-2017,Exports,cn_2017#cn8_01012990,HK,GBP Total,£,360661
23,month/03-2017,Exports,cn_2017#cn8_01012990,AU,GBP Total,£,10000
24,month/03-2017,Exports,cn_2017#cn8_01041010,CA,GBP Total,£,12289
25,month/03-2017,Exports,cn_2017#cn8_01051111,ZA,GBP Total,£,325642
26,month/03-2017,Exports,cn_2017#cn8_01051111,BR,GBP Total,£,52843
27,month/03-2017,Exports,cn_2017#cn8_01051119,TR,GBP Total,£,35505
28,month/03-2017,Exports,cn_2017#cn8_01051119,TR,GBP Total,£,76844
29,month/03-2017,Exports,cn_2017#cn8_01051119,EG,GBP Total,£,323926
...,...,...,...,...,...,...,...
204709,month/03-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,73086
204710,month/03-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,36998
204711,month/03-2017,Exports,cn_2017#cn8_99309900,PH,GBP Total,£,12011
204712,month/03-2017,Exports,cn_2017#cn8_99309900,CN,GBP Total,£,175170
204713,month/03-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,5999
204714,month/03-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,7259
204715,month/03-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,2254
204716,month/03-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,496007
204717,month/03-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,13091
204718,month/03-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,25153
204719,month/03-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,5951
204720,month/03-2017,Exports,cn_2017#cn8_99309900,HK,GBP Total,£,15033
204721,month/03-2017,Exports,cn_2017#cn8_99309900,HK,GBP Total,£,25180
204722,month/03-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,2332
204723,month/03-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,1237
204724,month/03-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,41977
204725,month/03-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,45800
204726,month/03-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,80000
204727,month/03-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,25582
204728,month/03-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,12709
204729,month/03-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,4960
204730,month/03-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,12801
204731,month/03-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,10783
204732,month/03-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,311019
204733,month/03-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,52776
204734,month/03-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,134377
204735,month/03-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,88437
204736,month/03-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,4479
204737,month/03-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,396004730
204738,month/03-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,24199747

,Period,Flow,Combined Nomenclature,HMRC Partner Geography,Measure Type,Unit,Value
0,month/04-2017,Exports,cn_2017#cn8_01012100,NO,GBP Total,£,33100
1,month/04-2017,Exports,cn_2017#cn8_01012100,NO,GBP Total,£,13750
2,month/04-2017,Exports,cn_2017#cn8_01012100,CH,GBP Total,£,1165
3,month/04-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,2004
4,month/04-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,35000
5,month/04-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,55000
6,month/04-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,2205
7,month/04-2017,Exports,cn_2017#cn8_01012100,QA,GBP Total,£,30975
8,month/04-2017,Exports,cn_2017#cn8_01012100,AE,GBP Total,£,107369
9,month/04-2017,Exports,cn_2017#cn8_01012100,SG,GBP Total,£,34860
10,month/04-2017,Exports,cn_2017#cn8_01012100,SG,GBP Total,£,1402
11,month/04-2017,Exports,cn_2017#cn8_01012100,KR,GBP Total,£,1625
12,month/04-2017,Exports,cn_2017#cn8_01012100,JP,GBP Total,£,108241
13,month/04-2017,Exports,cn_2017#cn8_01012990,NO,GBP Total,£,7500
14,month/04-2017,Exports,cn_2017#cn8_01012990,CH,GBP Total,£,25352
15,month/04-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,12000
16,month/04-2017,Exports,cn_2017#cn8_01012990,CA,GBP Total,£,69000
17,month/04-2017,Exports,cn_2017#cn8_01012990,QA,GBP Total,£,5000
18,month/04-2017,Exports,cn_2017#cn8_01012990,AE,GBP Total,£,130747
19,month/04-2017,Exports,cn_2017#cn8_01012990,PK,GBP Total,£,3000
20,month/04-2017,Exports,cn_2017#cn8_01012990,SG,GBP Total,£,38965
21,month/04-2017,Exports,cn_2017#cn8_01022910,TR,GBP Total,£,7292
22,month/04-2017,Exports,cn_2017#cn8_01022921,AE,GBP Total,£,1250
23,month/04-2017,Exports,cn_2017#cn8_01039190,NP,GBP Total,£,985
24,month/04-2017,Exports,cn_2017#cn8_01041080,CH,GBP Total,£,14325
25,month/04-2017,Exports,cn_2017#cn8_01051111,TR,GBP Total,£,49975
26,month/04-2017,Exports,cn_2017#cn8_01051111,RU,GBP Total,£,65515
27,month/04-2017,Exports,cn_2017#cn8_01051111,ZW,GBP Total,£,24211
28,month/04-2017,Exports,cn_2017#cn8_01051111,ZA,GBP Total,£,303196
29,month/04-2017,Exports,cn_2017#cn8_01051111,IL,GBP Total,£,191105
...,...,...,...,...,...,...,...
193894,month/04-2017,Exports,cn_2017#cn8_99309900,MV,GBP Total,£,13621
193895,month/04-2017,Exports,cn_2017#cn8_99309900,MY,GBP Total,£,1633
193896,month/04-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,19117
193897,month/04-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,134505
193898,month/04-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,128734
193899,month/04-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,17368
193900,month/04-2017,Exports,cn_2017#cn8_99309900,PH,GBP Total,£,83353
193901,month/04-2017,Exports,cn_2017#cn8_99309900,CN,GBP Total,£,32677
193902,month/04-2017,Exports,cn_2017#cn8_99309900,CN,GBP Total,£,5772
193903,month/04-2017,Exports,cn_2017#cn8_99309900,CN,GBP Total,£,1937
193904,month/04-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,86703
193905,month/04-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,10278
193906,month/04-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,16787
193907,month/04-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,7755
193908,month/04-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,2050
193909,month/04-2017,Exports,cn_2017#cn8_99309900,TW,GBP Total,£,2742
193910,month/04-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,1103
193911,month/04-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,55625
193912,month/04-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,213217
193913,month/04-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,13322
193914,month/04-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,37673
193915,month/04-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,149963
193916,month/04-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,493014
193917,month/04-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,216157
193918,month/04-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,34856
193919,month/04-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,164026
193920,month/04-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,13469
193921,month/04-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,40179
193922,month/04-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,354034725
193923,month/04-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,25167257

,Period,Flow,Combined Nomenclature,HMRC Partner Geography,Measure Type,Unit,Value
0,month/05-2017,Exports,cn_2017#cn8_01012100,NO,GBP Total,£,48650
1,month/05-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,50000
2,month/05-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,1714
3,month/05-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,10420
4,month/05-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,30000
5,month/05-2017,Exports,cn_2017#cn8_01012100,PE,GBP Total,£,40080
6,month/05-2017,Exports,cn_2017#cn8_01012100,QA,GBP Total,£,13456
7,month/05-2017,Exports,cn_2017#cn8_01012100,AE,GBP Total,£,341250
8,month/05-2017,Exports,cn_2017#cn8_01012100,HK,GBP Total,£,120000
9,month/05-2017,Exports,cn_2017#cn8_01012100,AU,GBP Total,£,151094
10,month/05-2017,Exports,cn_2017#cn8_01012990,NO,GBP Total,£,45000
11,month/05-2017,Exports,cn_2017#cn8_01012990,CH,GBP Total,£,6106
12,month/05-2017,Exports,cn_2017#cn8_01012990,CH,GBP Total,£,3838
13,month/05-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,3600
14,month/05-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,3063541
15,month/05-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,120000
16,month/05-2017,Exports,cn_2017#cn8_01012990,KW,GBP Total,£,31150
17,month/05-2017,Exports,cn_2017#cn8_01012990,AE,GBP Total,£,77929
18,month/05-2017,Exports,cn_2017#cn8_01012990,HK,GBP Total,£,281136
19,month/05-2017,Exports,cn_2017#cn8_01012990,AU,GBP Total,£,29305
20,month/05-2017,Exports,cn_2017#cn8_01023990,US,GBP Total,£,1000
21,month/05-2017,Exports,cn_2017#cn8_01031000,MK,GBP Total,£,44798
22,month/05-2017,Exports,cn_2017#cn8_01051111,KG,GBP Total,£,64169
23,month/05-2017,Exports,cn_2017#cn8_01051111,ZA,GBP Total,£,273409
24,month/05-2017,Exports,cn_2017#cn8_01051119,AZ,GBP Total,£,73773
25,month/05-2017,Exports,cn_2017#cn8_01051119,EG,GBP Total,£,432902
26,month/05-2017,Exports,cn_2017#cn8_01051119,MU,GBP Total,£,13975
27,month/05-2017,Exports,cn_2017#cn8_01051119,ZM,GBP Total,£,23952
28,month/05-2017,Exports,cn_2017#cn8_01051119,ZM,GBP Total,£,223042
29,month/05-2017,Exports,cn_2017#cn8_01051119,ZA,GBP Total,£,465663
...,...,...,...,...,...,...,...
194965,month/05-2017,Exports,cn_2017#cn8_99309900,AE,GBP Total,£,82935
194966,month/05-2017,Exports,cn_2017#cn8_99309900,AE,GBP Total,£,24665
194967,month/05-2017,Exports,cn_2017#cn8_99309900,LK,GBP Total,£,24184
194968,month/05-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,7422
194969,month/05-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,27150
194970,month/05-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,1223
194971,month/05-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,208847
194972,month/05-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,8226
194973,month/05-2017,Exports,cn_2017#cn8_99309900,CN,GBP Total,£,30020
194974,month/05-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,5000
194975,month/05-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,2343
194976,month/05-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,4845
194977,month/05-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,1225
194978,month/05-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,899
194979,month/05-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,1278
194980,month/05-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,6597
194981,month/05-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,79603
194982,month/05-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,61006
194983,month/05-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,4866
194984,month/05-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,10402
194985,month/05-2017,Exports,cn_2017#cn8_99309900,NC,GBP Total,£,1709
194986,month/05-2017,Exports,cn_2017#cn8_99309900,GU,GBP Total,£,8380
194987,month/05-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,148368
194988,month/05-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,178115
194989,month/05-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,10773
194990,month/05-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,142202
194991,month/05-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,557308
194992,month/05-2017,Exports,cn_2017#cn8_99319900,NO,GBP Total,£,27801
194993,month/05-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,376293789
194994,month/05-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,24016243

,Period,Flow,Combined Nomenclature,HMRC Partner Geography,Measure Type,Unit,Value
0,month/06-2017,Exports,cn_2017#cn8_01012100,CH,GBP Total,£,20288
1,month/06-2017,Exports,cn_2017#cn8_01012100,US,GBP Total,£,172352
2,month/06-2017,Exports,cn_2017#cn8_01012100,IL,GBP Total,£,1000
3,month/06-2017,Exports,cn_2017#cn8_01012100,KW,GBP Total,£,15000
4,month/06-2017,Exports,cn_2017#cn8_01012100,KW,GBP Total,£,61140
5,month/06-2017,Exports,cn_2017#cn8_01012100,AE,GBP Total,£,94000
6,month/06-2017,Exports,cn_2017#cn8_01012100,AE,GBP Total,£,151200
7,month/06-2017,Exports,cn_2017#cn8_01012100,SG,GBP Total,£,6500
8,month/06-2017,Exports,cn_2017#cn8_01012100,JP,GBP Total,£,48263
9,month/06-2017,Exports,cn_2017#cn8_01012100,HK,GBP Total,£,2000
10,month/06-2017,Exports,cn_2017#cn8_01012100,AU,GBP Total,£,414750
11,month/06-2017,Exports,cn_2017#cn8_01012990,NO,GBP Total,£,12282
12,month/06-2017,Exports,cn_2017#cn8_01012990,CH,GBP Total,£,122829
13,month/06-2017,Exports,cn_2017#cn8_01012990,NG,GBP Total,£,14052
14,month/06-2017,Exports,cn_2017#cn8_01012990,US,GBP Total,£,43185
15,month/06-2017,Exports,cn_2017#cn8_01012990,BM,GBP Total,£,3000
16,month/06-2017,Exports,cn_2017#cn8_01012990,KW,GBP Total,£,36540
17,month/06-2017,Exports,cn_2017#cn8_01012990,AE,GBP Total,£,78597
18,month/06-2017,Exports,cn_2017#cn8_01012990,IN,GBP Total,£,923
19,month/06-2017,Exports,cn_2017#cn8_01012990,SG,GBP Total,£,59053
20,month/06-2017,Exports,cn_2017#cn8_01012990,HK,GBP Total,£,725125
21,month/06-2017,Exports,cn_2017#cn8_01012990,HK,GBP Total,£,1149123
22,month/06-2017,Exports,cn_2017#cn8_01022110,NZ,GBP Total,£,4448
23,month/06-2017,Exports,cn_2017#cn8_01051111,UZ,GBP Total,£,107166
24,month/06-2017,Exports,cn_2017#cn8_01051111,ZW,GBP Total,£,32628
25,month/06-2017,Exports,cn_2017#cn8_01051119,UA,GBP Total,£,107041
26,month/06-2017,Exports,cn_2017#cn8_01051119,BY,GBP Total,£,344806
27,month/06-2017,Exports,cn_2017#cn8_01051119,UZ,GBP Total,£,20609
28,month/06-2017,Exports,cn_2017#cn8_01051119,EG,GBP Total,£,168633
29,month/06-2017,Exports,cn_2017#cn8_01051119,EG,GBP Total,£,507471
...,...,...,...,...,...,...,...
188841,month/06-2017,Exports,cn_2017#cn8_99309900,QA,GBP Total,£,3529
188842,month/06-2017,Exports,cn_2017#cn8_99309900,AE,GBP Total,£,1345
188843,month/06-2017,Exports,cn_2017#cn8_99309900,AE,GBP Total,£,78779
188844,month/06-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,2501
188845,month/06-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,76772
188846,month/06-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,37913
188847,month/06-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,378129
188848,month/06-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,1898
188849,month/06-2017,Exports,cn_2017#cn8_99309900,SG,GBP Total,£,1023
188850,month/06-2017,Exports,cn_2017#cn8_99309900,PH,GBP Total,£,3230
188851,month/06-2017,Exports,cn_2017#cn8_99309900,CN,GBP Total,£,3456
188852,month/06-2017,Exports,cn_2017#cn8_99309900,CN,GBP Total,£,8150
188853,month/06-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,4740
188854,month/06-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,3277
188855,month/06-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,29746
188856,month/06-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,991
188857,month/06-2017,Exports,cn_2017#cn8_99309900,KR,GBP Total,£,46622
188858,month/06-2017,Exports,cn_2017#cn8_99309900,JP,GBP Total,£,969
188859,month/06-2017,Exports,cn_2017#cn8_99309900,TW,GBP Total,£,4565
188860,month/06-2017,Exports,cn_2017#cn8_99309900,TW,GBP Total,£,1223
188861,month/06-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,35081
188862,month/06-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,25429
188863,month/06-2017,Exports,cn_2017#cn8_99309900,AU,GBP Total,£,15739
188864,month/06-2017,Exports,cn_2017#cn8_99309900,NZ,GBP Total,£,51869
188865,month/06-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,72661
188866,month/06-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,12733
188867,month/06-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,550442
188868,month/06-2017,Exports,cn_2017#cn8_99309900,QS,GBP Total,£,10700
188869,month/06-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,403218692
188870,month/06-2017,Exports,cn_2017#cn8_99500000,ZY,GBP Total,£,24125250